@import "tailwindcss";

@theme inline {
  --color-bg: oklch(99% 0.01 250);
  --color-fg: oklch(20% 0.03 260);
  --radius: 16px;
}

:root {
  color-scheme: light dark;
}

html, body, #__next {
  height: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
}
